<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>springmvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>IPFilter</display-name>
    <filter-name>IPFilter</filter-name>
    <filter-class>com.tinypig.admin.filter.IPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IPFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <init-param>
      <param-name>cors.allowOrigin</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, POST, HEAD, PUT, DELETE</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportedHeaders</param-name>
      <param-value>Accept, Origin, X-Requested-With, Content-Type, Last-Modified</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposedHeaders</param-name>
      <param-value>Set-Cookie</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportsCredentials</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.tinypig.admin.context.ApplicationContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.GlobalAwareServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AnchorOpenServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.AnchorOpenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MonitorAnchorServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.MonitorAnchorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnionGetListServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionGetListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnionGetAnchorsServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionGetAnchorsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnionDeleteServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnionDeleteAnchorServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionDeleteAnchorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUserListServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.CheckUserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUserInfoServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.CheckUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUserRejectServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.CheckUserRejectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUserPassServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.CheckUserPassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnionAddServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnionAddAnchorServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionAddAnchorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayOrderList</servlet-name>
    <servlet-class>com.tinypig.admin.web.PayOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BannerListServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.BannerListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BannerAddServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.BannerAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BannerEditServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.BannerEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>carouselAddServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.carouselAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManagerServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UserManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayInfoServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.PayInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CashInfoServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.CashInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GiftInfoServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.GiftInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMenuServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.AdminMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminRoleServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.AdminRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LuckyGiftServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.LuckyGiftServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnionAnchorServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionAnchorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnionAnchorServlet</servlet-name>
    <url-pattern>/unionAnchor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LuckyGiftServlet</servlet-name>
    <url-pattern>/luckyGift</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminRoleServlet</servlet-name>
    <url-pattern>/adminRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminMenuServlet</servlet-name>
    <url-pattern>/adminMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GiftInfoServlet</servlet-name>
    <url-pattern>/giftInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CashInfoServlet</servlet-name>
    <url-pattern>/cashInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayInfoServlet</servlet-name>
    <url-pattern>/payInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/userManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>carouselAddServlet</servlet-name>
    <url-pattern>/carouselAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerEditServlet</servlet-name>
    <url-pattern>/bannerEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerAddServlet</servlet-name>
    <url-pattern>/bannerAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerListServlet</servlet-name>
    <url-pattern>/bannerList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnionAddAnchorServlet</servlet-name>
    <url-pattern>/unionAddAnchor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserRejectServlet</servlet-name>
    <url-pattern>/CheckUserReject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserPassServlet</servlet-name>
    <url-pattern>/CheckUserPass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnionAddServlet</servlet-name>
    <url-pattern>/unionAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnionDeleteAnchorServlet</servlet-name>
    <url-pattern>/unionDeleteAnchor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnionDeleteServlet</servlet-name>
    <url-pattern>/unionDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnionGetAnchorsServlet</servlet-name>
    <url-pattern>/unionGetAnchors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnionGetListServlet</servlet-name>
    <url-pattern>/UnionGetList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserListServlet</servlet-name>
    <url-pattern>/CheckUserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserInfoServlet</servlet-name>
    <url-pattern>/CheckUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnchorOpenServlet</servlet-name>
    <url-pattern>/anchorlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MonitorAnchorServlet</servlet-name>
    <url-pattern>/monitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayOrderList</servlet-name>
    <url-pattern>/payOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnionEditServlet</display-name>
    <servlet-name>UnionEditServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnionEditServlet</servlet-name>
    <url-pattern>/unionEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnionBanServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.UnionBanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnionBanServlet</servlet-name>
    <url-pattern>/unionBan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerUserServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.ManagerUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerUserServlet</servlet-name>
    <url-pattern>/manageuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnchorHandleServlet</display-name>
    <servlet-name>AnchorHandleServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.AnchorHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnchorHandleServlet</servlet-name>
    <url-pattern>/AnchorHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnchorLiveDetailServlet</display-name>
    <servlet-name>AnchorLiveDetailServlet</servlet-name>
    <servlet-class>com.tinypig.admin.web.AnchorLiveDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnchorLiveDetailServlet</servlet-name>
    <url-pattern>/anchorLiveDetail</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.tinypig.admin.filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:config/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <servlet-name>unionAdmin</servlet-name>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
				classpath:config/spring-mvc.xml
			</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SetCharacterEncodingFilter</display-name>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>com.tinypig.admin.filter.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/SetCharacterEncodingFilter</url-pattern>
  </filter-mapping>
  	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>60000</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
  <filter>
  	<filter-name>SessionTimeOutFilter</filter-name>
  	<filter-class>com.tinypig.admin.filter.SessionTimeOutFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SessionTimeOutFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
	<session-timeout>120</session-timeout>
  </session-config>
</web-app>