<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tinypig.newadmin.web.dao.StrategicPartnerDao" >
  <resultMap id="BaseResultMap" type="com.tinypig.newadmin.web.entity.StrategicPartner" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="contacts_phone" property="contactsPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
  </resultMap>
   <resultMap id="BaseResultMapDto" type="com.tinypig.newadmin.web.entity.StrategicPartnerDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="contacts_phone" property="contactsPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
    
    <result column="extensionCenterNum" property="extensionCenterNum" jdbcType="INTEGER" />
    <result column="promotersNum" property="promotersNum" jdbcType="INTEGER" />
    <result column="agentUserNum" property="agentUserNum" jdbcType="INTEGER" />
    <result column="salesmanNum" property="salesmanNum" jdbcType="INTEGER" />
    <result column="anchorNum" property="anchorNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, contacts, contacts_phone, status, create_user, create_time, modify_time, modify_user
  </sql>
  <select id="getStrategicPartnerListPage" resultMap="BaseResultMapDto" parameterType="com.tinypig.newadmin.web.entity.StrategicPartnerParamDto">
		select
		t.*,
		(SELECT COUNT(tp.id) FROM zhu_admin.t_extension_center tp WHERE tp.status=0 and tp.strategic_partner=t.id) extensionCenterNum,
		(SELECT COUNT(tp.id) FROM zhu_admin.t_promoters tp WHERE tp.status=0 and tp.strategic_partner=t.id) promotersNum,
		(SELECT COUNT(tau.id) FROM zhu_admin.t_agent_user tau WHERE tau.status=0 and tau.strategic_partner=t.id) agentUserNum,
		(SELECT COUNT(ts.id) FROM zhu_admin.t_salesman ts WHERE ts.status=0 and ts.strategic_partner=t.id) salesmanNum,
		(SELECT COUNT(DISTINCT tuo.phone) FROM zhu_admin.t_user_org_relation tuo WHERE tuo.strategic_partner_id=t.id) anchorNum
		from zhu_admin.t_strategic_partner t where t.status=0
		<if test="id!=null and id!=''">
			and t.id=#{id}
		</if>
		<if test="name!=null and name!=''">
			and t.name like concat("%",#{name},"%")
		</if>
		<if test="stime!=null and stime!=''">
			and t.create_time &gt;=#{stime}
		</if>
		<if test="etime!=null and etime!=''">
			and t.create_time &lt;=#{etime}
		</if>
		<if test="phone!=null and phone!=''">
			and t.contacts_phone=#{phone}
		</if>
		<if test="contactsPhone!=null and contactsPhone!=''">
			and t.contacts_phone like concat("%",#{contactsPhone},"%")
		</if>
		<if test="orderBy!=null and orderBy!=''">
			order by ${orderBy}
			<if test="orderSort!=null and orderSort!=''">
				 ${orderSort}
			</if>
		</if>
		<if test="orderBy==null or orderBy==''">
			order by t.create_time desc
		</if>
		limit #{startIndex},#{pageSize}
  </select>
  <select id="getStrategicPartnerTotal" resultType="java.lang.Integer" parameterType="com.tinypig.newadmin.web.entity.StrategicPartnerParamDto">
		select
			count(*) total
		from zhu_admin.t_strategic_partner t where t.status=0
		<if test="id!=null and id!=''">
			and t.id=#{id}
		</if>
		<if test="name!=null and name!=''">
			and t.name like concat("%",#{name},"%")
		</if>
		<if test="stime!=null and stime!=''">
			and t.create_time &gt;=#{stime}
		</if>
		<if test="etime!=null and etime!=''">
			and t.create_time &lt;=#{etime}
		</if>
		<if test="phone!=null and phone!=''">
			and t.contacts_phone=#{phone}
		</if>
		<if test="contactsPhone!=null and contactsPhone!=''">
			and t.contacts_phone like concat("%",#{contactsPhone},"%")
		</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhu_admin.t_strategic_partner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getStrategicPartnerByPhone" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zhu_admin.t_strategic_partner
    where contacts_phone = #{phone}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update zhu_admin.t_strategic_partner set status=1
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tinypig.newadmin.web.entity.StrategicPartner" >
    insert into zhu_admin.t_strategic_partner (id, name, contacts, 
      contacts_phone, status,create_user, create_time, 
      modify_time, modify_user)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{contactsPhone,jdbcType=VARCHAR},#{status,jdbcType=TINYINT}, #{createUser,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT},#{modifyTime,jdbcType=BIGINT}, #{modifyUser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tinypig.newadmin.web.entity.StrategicPartner" >
    insert into zhu_admin.t_strategic_partner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="contactsPhone != null" >
        contacts_phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactsPhone != null" >
        #{contactsPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tinypig.newadmin.web.entity.StrategicPartner" >
    update zhu_admin.t_strategic_partner
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactsPhone != null" >
        contacts_phone = #{contactsPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tinypig.newadmin.web.entity.StrategicPartner" >
    update zhu_admin.t_strategic_partner
    set name = #{name,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      contacts_phone = #{contactsPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      modify_user = #{modifyUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>